name = "NearestNeighborDescent"
uuid = "dd2c4c9e-a32f-5b2f-b342-08c2f244fce8"
authors = ["Dillon Daudert <dillongdaudert@gmail.com>"]
version = "0.3.7"

[deps]
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
Graphs = "86223c79-3864-5bf0-83f7-82e725a168b6"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[compat]
DataStructures = "0.18, 0.19"
Distances = "0.8, 0.9, 0.10"
Graphs = "1.4"
Reexport = "0.2, 1.0"
julia = "^1.5"

[extras]
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Statistics"]
